export(execSeqGen)
export(finalizeAlignments)
export(formatAlignments)
export(generateAlignments)
export(generateBashScript)
export(generateRAxMLscripts)
export(getParams)
export(splitSimSeq)
import(ape)
import(seqManagement)
